python-dotenv
geopandas
fiona
numpy
scikit-learn
ipython
ipyleaflet
ipykernel
ipywidgets
jupyterlab
joblib
matplotlib
shapely
tqdm
gsutil
pyarrow
xgboost
earthengine-api
geemap
gcsfs
lonboard
python-duckdb==1.3.0
rasterio
